body {
    background-color: #f5f5f5 !important;
}

h1 {
    color: #3f3f3f;
}

@media only screen and (max-width: 990px) {
    body {
        padding: 0;
    }
}
@media only screen and (min-width: 990px) {
    .container-fluid {
        width: 80vw;
    }
    body {
        padding: 30px;
    }
}

.dygraph-legend { text-align: right; }